version: '3'
services:
  prometheus:
    container_name: {{ prometheusName }}
    build:
      context: ./prometheus
      image: {{ prometheusImage }}
    networks:
      - {{ dockerNetworkName }}
    ports:
      - {{ prometheusPort }}:9090
  
  cAdvisor:
    container_name: {{ cAdvisorName }}
    image: google/cadvisor:latest
    networks:
      - {{ dockerNetworkName }}
    volumes: 
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
      
  grafana:
    container_name: {{ grafanaName }}
    build:
      context: ./grafana
      image: {{ grafanaImage }}
    networks:
      - {{ dockerNetworkName }}
    ports:
      - {{ grafanaPort }}:3000
    volumes:
      - {{ grafanaPersistence }}:/usr/share/grafana/data:Z

volumes:
  {{ grafanaPersistence }}:
    external: true

networks:
  {{ dockerNetworkName }}:
    driver: bridge
